---
// @ts-ignore
import { YouTube } from "@astro-community/astro-embed-youtube";
import { Image } from "@astrojs/image/components";
import HorizontalScroll from "../components/containers/HorizontalScroll.astro";
import HorizontalScrollCard from "../components/containers/HorizontalScrollCard.astro";
import ScrollSection from "../components/containers/ScrollSection.astro";
import AstroIcon, { Icons } from "../components/typography/AstroIcon.astro";
import ItemSubtitle from "../components/typography/ItemSubtitle.astro";
import ItemTitle from "../components/typography/ItemTitle.astro";
import LinkExternal from "../components/typography/LinkExternal.astro";
import SectionText from "../components/typography/SectionText.astro";
import TitlePrimary from "../components/typography/TitlePrimary.astro";
import TitleSecondary from "../components/typography/TitleSecondary.astro";
import codingProjects from "../data/codingProjects";
import musicVideos from "../data/musicVideos";
import upcomingShows from "../data/upcomingShows";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elie Hymowitz">
  <main>
    <ScrollSection id="me">
      <div class="w-full flex justify-between">
        <div>
          <TitlePrimary>Hi, I'm Elie</TitlePrimary>
          <TitleSecondary>
            I'm a web and app developer. I also play music
          </TitleSecondary>
          <TitleSecondary>Born in Seattle, living in Montreal</TitleSecondary>
        </div>
        <div>
          <ul class="flex flex-col text-right">
            {upcomingShows.length > 0 && <ItemTitle>Upcoming Shows</ItemTitle>}
            {
              upcomingShows.map((show) => (
                <li>
                  <ItemTitle>{show.date}</ItemTitle>
                  <ItemSubtitle>
                    {show.location} with {show.band}
                  </ItemSubtitle>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </ScrollSection>
    <ScrollSection id="music">
      <div class="w-full">
        <TitlePrimary>Music Videos I'm In</TitlePrimary>
        <span class="flex">
          <LinkExternal link="https://www.instagram.com/elie.s.h/">
            <AstroIcon icon={Icons.instagram} />
            <SectionText>For more of what I'm up to</SectionText>
          </LinkExternal>
          <div class="mr-5"></div>
          <LinkExternal
            link="https://open.spotify.com/playlist/2ieh5fIUHEdPw5dnwS2wcp?si=7537ffcfdb804ab6"
          >
            <AstroIcon icon={Icons.spotify} />
            <SectionText>For more songs I've played</SectionText>
          </LinkExternal>
        </span>
        <HorizontalScroll>
          {
            musicVideos.map((video) => (
              <HorizontalScrollCard>
                <YouTube id={video.link} />
                <div class="w-full border-t border-black my-2" />
                <ItemTitle>{video.subTitle}</ItemTitle>
                <ItemSubtitle>{video.title}</ItemSubtitle>
              </HorizontalScrollCard>
            ))
          }
        </HorizontalScroll>
      </div>
    </ScrollSection>
    <ScrollSection id="code">
      <div class="w-full">
        <TitlePrimary>Projects I Maintain</TitlePrimary>
        <span class="flex">
          <LinkExternal link="https://www.linkedin.com/in/eliehymowitz/">
            <AstroIcon icon={Icons.linkedin} />
            <SectionText>To reach me in a professional setting</SectionText>
          </LinkExternal>
          <div class="mr-5"></div>
          <LinkExternal link="https://github.com/ehymowitz">
            <AstroIcon icon={Icons.github} />
            <SectionText>To see projects in progress</SectionText>
          </LinkExternal>
        </span>
        <HorizontalScroll>
          {
            codingProjects.map((project) => (
              <HorizontalScrollCard>
                <span class="grid gap-x-5 grid-flow-col auto-cols-max justify-center py-5">
                  {project.stackLogos.map((logo) => (
                    <AstroIcon icon={Icons[logo as keyof typeof Icons]} />
                  ))}
                </span>

                <LinkExternal link={project.link}>
                  <Image alt={project.title} src={import(project.image)} />
                </LinkExternal>
                <div class="relative h-2">
                  <div class="absolute top-px">
                    <LinkExternal link={project.github}>
                      <AstroIcon icon={Icons.github} />
                    </LinkExternal>
                  </div>
                </div>

                <ItemTitle>{project.title}</ItemTitle>
                <ItemSubtitle>{project.subTitle}</ItemSubtitle>
              </HorizontalScrollCard>
            ))
          }
        </HorizontalScroll>
      </div>
    </ScrollSection>
  </main>
</Layout>
