---
import AstroIcon, { Icons } from "../typography/AstroIcon.astro";
import LinkExternal from "../typography/LinkExternal.astro";
import LinkScroll from "../typography/LinkScroll.astro";
import TitlePrimary from "../typography/TitlePrimary.astro";

interface Props {
  className: string;
}

const { className } = Astro.props;
---

<div class={className}>
  <nav class="sticky top-0 pt-10 flex flex-cols justify-between">
    <LinkScroll link="#me">
      <TitlePrimary>EH</TitlePrimary>
    </LinkScroll>
    <ul class="grid gap-x-5 grid-flow-col auto-cols-max">
      <LinkScroll link="#me">Me</LinkScroll>
      <p>|</p>
      <LinkScroll link="#music">Music</LinkScroll>
      <p>|</p>
      <LinkScroll link="#code">Code</LinkScroll>
    </ul>
  </nav>
  <slot />
  <footer
    class="sticky bottom-5 sm:bottom-0 pb-10 flex flex-cols justify-between"
  >
    <LinkExternal link="/Elie%20Hymowitz.pdf">CV</LinkExternal>
    <ul class="grid gap-x-3 sm:gap-x-5 grid-flow-col auto-cols-max">
      <LinkExternal link="https://www.instagram.com/elie.s.h/">
        <AstroIcon icon={Icons.instagram} />
      </LinkExternal>
      <LinkExternal
        link="https://open.spotify.com/playlist/2ieh5fIUHEdPw5dnwS2wcp?si=7537ffcfdb804ab6"
      >
        <AstroIcon icon={Icons.spotify} />
      </LinkExternal>
      <LinkExternal link="https://www.linkedin.com/in/eliehymowitz/">
        <AstroIcon icon={Icons.linkedin} />
      </LinkExternal>
      <LinkExternal link="https://github.com/ehymowitz">
        <AstroIcon icon={Icons.github} />
      </LinkExternal>
      <LinkExternal link="mailto:ehymowitz@gmail.com">
        <AstroIcon icon={Icons.email} />
      </LinkExternal>
    </ul>
  </footer>
</div>
